{{!-- This is the {{body}} homepage that appears after users successfully log in --}}
<h1>Dashboard</h1>

{{#each blogs as |blog| }}
<div class="card" style="width: 80%;">
  <div class="card-body">
    <h2 class="card-title text-primary">{{blog.title}}</h2>
    <h6 class="fst-italic">by {{user.username}} on {{blog.date}}</h6>
    <p class="card-text text-dark">{{blog.content}}</p>
    <hr>
    {{#each blog.comments}}
    {{this.comment_text}}
    <hr>
    {{/each}}

    <a href="/postpage/{{blog.id}}" class="btn btn-primary" style="width: 150px">Read</a>
    <a href="/deletepost/{{blog.id}}" class="btn btn-primary" style="width: 150px">Delete</a>
    
    {{!-- <button class="btn btn-primary" id="deleteButton" style="width: 150px">Delete</a> --}}
  </div>
</div>
{{/each}}

<script src="/js/delete.js"></script>

