
{{!-- This is the {{body}} homepage that appears after users successfully log in --}}
<h1>Recent Posts</h1>
{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{user.username}}</h2>
  </div>
  {{!-- <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}

{{!-- {{ #each blogs as |blog| }}
<div class="card" style="width: 80%;">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
{{!--     <p class="card-text">{{> blog.contents}}</p>
    <a href="#" class="btn btn-primary">Comment</a>
  </div>
</div>
{{/each}}


{{#each users as |user| }}
<div class="card" style="width: 80%;">
  <div class="card-body">
    <h5 class="card-title">{{user.username}}</h5>
    <p class="card-text">{{user.email}}</p>
    <a href="#" class="btn btn-primary">Comment</a>
  </div>
</div>
{{/each}} --}}

{{#each blogs as |blog|}}
{{> blog-details}}
{{/each}}
