{{!-- This is the {{body}} homepage that appears after users successfully log in --}}
<h1>Recent Posts</h1>

{{#each blogs as |blog| }}
<div class="card" style="width: 80%;">
  <div class="card-body">
    <h5 class="card-title text-primary">{{blog.title}} by {{user.username}}
    <p class="card-text text-dark">{{blog.content}}</p>
    <p class="card-text fst-italic">{{blog.comment}}</p>
    <a href="#" class="btn btn-primary">Comment</a>
  </div>
</div>
{{/each}}


