{{!-- This is the page that appears when a single post is selected --}}
<div class="card" style="width: 80%;">
  <div class="card-body">
    <h2 class="card-title text-primary">{{post.title}}</h2>
    <h6 class="fst-italic">by {{post.user.username}} on {{post.date}}</h6>
    <p class="card-text text-dark">{{post.content}}</p>
    <hr>
    <h5 class="text-primary">Comments:</h5>

    {{#each post.comments}}
    <h6 class="fst-italic">Comment by {{this.user_id}}:</h6>
    {{this.comment_text}}
    <hr>
    {{/each}}

    <a href="/newcomment/{{post.id}}" class="btn btn-primary">Add New Comment</a>
  </div>
</div>

