<div class="card" style="width: 80%;">
  <div class="card-body">
    <h2 class="card-title text-primary">{{post.title}}</h2>
    <h6 class="fst-italic">by {{post.user.username}} on {{post.date}}</h6>
    <p class="card-text text-dark">{{post.content}}</p>

{{!--     <a href="/blogs/{{this.id}}" class="btn btn-primary">Read</a> --}}
  </div>
</div>
